# Last FM 360k Factorization Machine Implementation
This notebook implements a factorization machine using the tffm module. Technically, we are performing regression to predict the number of times a certain user has played a certain artist. More information of Factorization Machines can be found in this paper https://www.csie.ntu.edu.tw/~b97053/paper/Factorization%20Machines%20with%20libFM.pdf.

In [1]:
from pathlib import Path
import pandas as pd
import numpy as np

## Load Data

In [2]:
plays_df = pd.read_csv("lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv", sep="\t", names = ["userId", "artistId", "artistName", "plays"])
profile_df = pd.read_csv("lastfm-dataset-360K/usersha1-profile.tsv", sep="\t", names = ["userId", "gender", "age", "country", "signup"])

In [3]:
# How large of a subset of the data do we want to use? 
num_rows = 50000
full_df = plays_df.join(profile_df.set_index("userId"), on="userId", how="inner").sample(random_state=1234, n=num_rows, axis=0).dropna()

In [4]:
# Create dictionary mapping artist names to ids
artist_id_map = full_df.drop(["userId", "plays", "gender", "age", "country", "signup"], axis=1).drop_duplicates().set_index("artistName").to_dict()
full_df.drop(["artistId"],axis=1, inplace=True)

## Transform the dataset to have one-hot encodings for categorical variables

In [5]:
import time
from datetime import datetime
from dateutil import parser

# Let's drop the rows that have missing values. I'm worried that they are biasing our training data
full_df = full_df.dropna()

In [6]:
full_df

,userId,artistName,plays,gender,age,country,signup
16663648,f3403c9b66217d8b151f59c4ebaf947ef3f3995d,beneath the massacre,56,m,19.0,Germany,"May 25, 2008"
11849472,ad548968b15f01262cec0dbbd201ce3fd1a6cbcf,perry como,50,m,64.0,France,"Jan 31, 2009"
16562655,f1cd58b34d2b83600c3d88d8bae76cc41cd7391c,acid mothers temple & the melting paraiso u.f.o.,71,m,23.0,Chile,"Jun 9, 2008"
4331011,3f4114b1cfb16c3bbd58dd2e5382338a0713c6dd,Мара,30,m,34.0,Canada,"Sep 22, 2006"
7498320,6d8a6c8b05c5519f8ab9f9208ab7660920a4f03a,sigur rós,46,m,29.0,Colombia,"Mar 21, 2008"
5503025,5087ff3998fbde168ed40184359be70f64da7987,moneybrother,5357,m,100.0,Sweden,"Dec 1, 2005"
8161549,77550e93fc6e083d750b82dfe4077399e43f0118,the rolling stones,91,m,20.0,France,"Nov 12, 2005"
669262,09caa2f8151a3a03abd005c4263b85efb1c02617,arch enemy,104,m,29.0,United States,"Oct 2, 2005"
5055488,49f80727278d331f56a0d29d5f7b570a7dce5ca7,dopplereffekt,289,m,24.0,France,"Dec 24, 2006"
12141996,b18ac11dc4279778bd2446ce2fd20d8061fd176d,delain,40,m,22.0,Germany,"Feb 7, 2008"
3130148,2dbb906ef4920f9f587a48ad47dc0b85b21f3f5a,rage against the machine,21,m,21.0,United Kingdom,"Jan 22, 2007"
16518179,f12522a599d5aaa615225906cb5a76ffe3a2cd9d,biffy clyro,304,m,17.0,United Kingdom,"Oct 28, 2007"
6918398,651c13f4909a84be3af032b1f5d4f831f92495d4,foghat,98,m,24.0,Canada,"Jul 25, 2006"
6119360,5980518a033b62261914c8d7efcf1dc38cba636f,blues traveler,86,m,19.0,United Kingdom,"Mar 9, 2008"
11446292,a76c3694b7244b652be5de61dabdc236c75fa6d8,the prodigy,81,m,22.0,Russian Federation,"Jan 30, 2007"
14499530,d3b6e48ecdcd1cf5e3dbb66b84cf9972bac7c15b,mira calix,8,m,22.0,Bulgaria,"Oct 21, 2008"
9496565,8ab39e82503a508d03027c5d886d69bd6c364030,killswitch engage,76,m,25.0,United Kingdom,"Sep 1, 2007"
13866409,ca82974f455293476ed69438e1bf74bef28751b7,kammarheit,177,m,26.0,United Kingdom,"Jan 25, 2007"
11217128,a3ff7e0720462517fc92afd112753f5eb440e28f,kings of leon,69,m,25.0,Poland,"Dec 25, 2006"
7186008,68fb6b039ec9fdcbde4bc6b9785ed96d5f76547f,primal scream,127,m,19.0,Slovakia,"Jun 26, 2007"
9411690,897c4cdc3d8d4fbbb25282bc0e56374c296aa195,mojave 3,674,m,24.0,Australia,"Apr 21, 2006"
14116838,ce2a85e44eb2afaaf56e368e3ab8dabab8eb4cf9,daniel johnston,42,f,22.0,United States,"Jul 3, 2008"
15725142,e5c12c400c1b561460b636b7572b445d9fbc5348,santa esmeralda,47,f,23.0,Latvia,"Aug 22, 2007"
12021423,afcf53d653f0bf7bae21a7cbc7f672ae5a902066,belleruche,5,m,31.0,Poland,"Jan 9, 2009"
13624748,c70ad11bede15dc16b3c52d627a64348f1cbb020,morse portnoy george,7,f,20.0,Ukraine,"Nov 23, 2008"
12123502,b142a702c441b69cf59d797b2cce67f0c085c41e,natalie walker,11,m,39.0,Germany,"Nov 23, 2006"
780537,0b6cb558842219bdfbfb735320073e25e7d835cb,the killers,40,m,31.0,Portugal,"Feb 5, 2008"
6616563,60bdf04af93283f3a857297a08f2db04d87db09d,outkast,5,m,27.0,Italy,"Mar 1, 2008"
8277264,790502eec3ed4b29e8e5faa2683e4cdb8c2aa14e,the gathering,47,m,24.0,United States,"Sep 8, 2007"
420044,062f2fda559c7e036cee10d154ceff788c3bcbdd,hooverphonic,8,m,107.0,Somalia,"Feb 17, 2009"
...,...,...,...,...,...,...,...
16013779,e9f52f5dc39400c9f0bc945ecf65b6cd571de827,urbanator,151,m,25.0,Poland,"Jan 19, 2007"
4324249,3f2a2367b89708cdda792ef2705753f912232192,gorillaz,132,f,20.0,Poland,"Jul 12, 2007"
2651213,26cb2b4a434365e17d09cd0dbbd3941cdf3c484b,rick ross,384,m,20.0,France,"May 22, 2005"
2852184,29b27786cb2b04bca1677b94f9db20953b287798,the kooks,9,m,24.0,Germany,"Sep 18, 2008"
9010545,83a14f8696f2f2613721a5783d33d69b2e9fde35,bersuit vergarabat,148,m,23.0,Mexico,"Sep 16, 2006"
8139996,7703a11549e6f20e2beaecfb1814b30978cb57ad,dimmu borgir,49,m,20.0,Switzerland,"Jun 12, 2006"
11994798,af6dafd8d890826e71bd46843ade3a07ffc62383,johann sebastian bach,55,f,22.0,Japan,"May 26, 2007"
9893082,907b9ae6f1c46e422315f9a8bd2aad01ced9d7ee,sash!,16,m,44.0,United Kingdom,"Jan 25, 2009"
13360110,c3453e5071d8d9bff41bd364fd05cbbebb753e08,the cruel sea,433,m,36.0,New Zealand,"Jun 25, 2005"
2181559,1fc64af534a007ff03895cf9575ef98a2d752a9f,muse,130,m,19.0,Canada,"Nov 20, 2008"
14330279,d13c0f507f4e18216a71fa1b1f974a27456e8131,fred astaire,36,f,28.0,Brazil,"Sep 10, 2007"
8288993,792e8995ee2f50a5c8c4eae4e1761999f9342436,the last shadow puppets,48,m,42.0,Netherlands,"Aug 22, 2008"
16855533,f5ff8c079d07a20dce59987c3d56ac5cf7130c9a,girl talk,980,m,30.0,United States,"Oct 17, 2005"
16643966,f2f2bc1738cb58262fd762f503b676f307141ec9,t.o.k.,25,f,27.0,United Kingdom,"Feb 25, 2006"
11241106,a4571868926d678127958c8f74a68c50036bfa81,the pogues,42,m,21.0,Finland,"Sep 9, 2007"
11160404,a328e75879283877f19a5f436d8455d86a9a0278,portishead,88,m,18.0,United States,"Apr 11, 2008"
8251337,78a8be78c7d72f1300f9377c7445d915432938c0,slayer,126,m,21.0,Germany,"Jul 13, 2008"
11855949,ad6a775f33f57005e4da94fe18a5391cbc5ea6d3,marduk,13,m,26.0,Germany,"Feb 24, 2009"
1955481,1c9042de8d4690bd4558c53c611761e8938b3562,keane,241,m,29.0,Hong Kong,"Mar 17, 2007"
7527480,6dfc995e21c94ced0880ba3ecb76df2abee798fa,arcade fire,312,m,16.0,Iceland,"Dec 5, 2006"
16804408,f542544eb9bfcdcadb888de05e3459f327d08d79,alberto camerini,161,m,18.0,Italy,"Apr 4, 2006"
11633345,aa2d4a8c050c27514823886767f3ef408e5b2498,freak kitchen,148,f,19.0,Sweden,"Sep 9, 2006"
847857,0c6e5f9a1edac7aabb79170b490a31ebf539112f,skinny puppy,1602,f,21.0,Finland,"May 20, 2005"
16863479,f61d3c9838997b9e714931fad106b80d2aee0979,beach house,70,m,24.0,United States,"Apr 5, 2006"
10036348,92937ac173d259738907b9fd5a73449ad638e646,da king & i,32,m,20.0,Lithuania,"Sep 18, 2008"
12711541,b9df6da53b28ae4c74f1895275873a8711cd7931,nooncat,27,m,34.0,United States,"Mar 14, 2005"
10630004,9b3e3154cd6b75ceb665d73fbc51504ef543450d,bloc party,50,m,22.0,Saudi Arabia,"Nov 5, 2007"
10345994,971474727ff7533bcd7aaa18936eb27e6596748d,the jimi hendrix experience,118,m,17.0,Canada,"May 21, 2009"
13175891,c09c97b39a9d894f70625cc606f383f57ad54fde,covenant,30,f,20.0,Poland,"Sep 9, 2008"
9890524,90709e14aba5d922e37ae070fdcf592a80b07ffc,death cab for cutie,110,m,19.0,United States,"Feb 23, 2006"

In [7]:
# Get the top artists
artists = full_df["artistName"].value_counts().index.tolist()
n = 1000
top_artists = artists[:n]

In [8]:
# Get country information
countries = sorted(full_df["country"].value_counts().index.tolist())

In [9]:
# Give the signup times a numeric value for each user
full_df["signup"] = full_df["signup"].map(lambda time: parser.parse(time).timestamp())

In [10]:
len(artists)

12177

In [11]:
# Construct the ground truth ratings
truth_df = full_df.drop(["userId", "artistName", "gender", "age", "country", "signup"], axis=1)

In [12]:
full_df = pd.get_dummies(full_df,sparse=True).drop("plays", axis=1)
full_df
#pd.get_dummies(full_df, sparse=True).drop("plays", axis=1)

,age,signup,userId_0000ef373bbd0d89ce796abae961f2705e8c1faf,userId_0000f687d4fe9c1ed49620fbc5ed5b0d7798ea20,userId_000163263d2a41a3966a3746855b8b75b7d7aa83,userId_0002dd2154072434d26e5409faa591bfb260a01e,userId_000912716c36131c4d8591da475c93337e7196a7,userId_000a87954445f6c1a5b2a8884b9f6e92c095dd96,userId_000a9545ab230575fa05c30a556a4ee45d8cc0ba,userId_000af18e0a8c33fe3ad809c3d10cfbae84d1bdd9,...,country_Uzbekistan,country_Vanuatu,country_Venezuela,country_Viet Nam,"country_Virgin Islands, British","country_Virgin Islands, U.s.",country_Western Sahara,country_Yemen,country_Zambia,country_Zimbabwe
16663648,19.0,1.211688e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11849472,64.0,1.233378e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16562655,23.0,1.212984e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4331011,34.0,1.158898e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7498320,29.0,1.206072e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5503025,100.0,1.133413e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8161549,20.0,1.131772e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
669262,29.0,1.128226e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5055488,24.0,1.166936e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12141996,22.0,1.202360e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3130148,21.0,1.169442e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16518179,17.0,1.193544e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6918398,24.0,1.153800e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6119360,19.0,1.205039e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11446292,22.0,1.170133e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14499530,22.0,1.224562e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9496565,25.0,1.188619e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13866409,26.0,1.169701e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11217128,25.0,1.167023e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7186008,19.0,1.182830e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9411690,24.0,1.145592e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14116838,22.0,1.215058e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15725142,23.0,1.187755e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12021423,31.0,1.231477e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13624748,20.0,1.227416e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12123502,39.0,1.164258e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
780537,31.0,1.202188e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6616563,27.0,1.204348e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8277264,24.0,1.189224e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
420044,107.0,1.234847e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16013779,25.0,1.169183e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4324249,20.0,1.184213e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2651213,20.0,1.116734e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2852184,24.0,1.221710e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9010545,23.0,1.158379e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8139996,20.0,1.150085e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11994798,22.0,1.180152e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9893082,44.0,1.232860e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13360110,36.0,1.119672e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2181559,19.0,1.227157e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14330279,28.0,1.189397e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8288993,42.0,1.219378e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16855533,30.0,1.129522e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16643966,27.0,1.140844e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11241106,21.0,1.189310e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11160404,18.0,1.207886e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8251337,21.0,1.215922e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11855949,26.0,1.235452e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1955481,29.0,1.174104e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7527480,16.0,1.165295e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16804408,18.0,1.144123e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11633345,19.0,1.157774e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
847857,21.0,1.116562e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16863479,24.0,1.144210e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10036348,20.0,1.221710e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12711541,34.0,1.110776e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10630004,22.0,1.194239e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10345994,17.0,1.242878e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13175891,20.0,1.220933e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9890524,19.0,1.140671e+09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
from sklearn.preprocessing import normalize, scale

full_matrix = full_df.values
truth_matrix = truth_df.values

# Center the plays, signup timestamp, and age
full_matrix[:,0] = full_matrix[:,0] - np.mean(full_matrix[:,0])
full_matrix[:,1] = full_matrix[:,1] - np.mean(full_matrix[:,1])
truth_matrix = truth_matrix - np.mean(truth_matrix)

## Apply the Factorization Machine model to our data set

In [14]:
from sklearn.model_selection import train_test_split
from scipy import sparse

# Handle missing values for some numeric features such as "age"
X = full_matrix
y = np.squeeze(truth_matrix)

X_tr, X_te, y_tr, y_te = train_test_split(sparse.csr_matrix(X), y, test_size=0.2, random_state=0)
print(X_tr.shape, y_tr.shape, X_te.shape, y_te.shape)

(29360, 46631) (29360,) (7341, 46631) (7341,)

In [20]:
# Output the train and test feature matrices
#np.savetxt("test_X.csv", X_te.toarray(), delimiter=",")
np.savetxt("test_y.csv", y_te, delimiter=",")

This part requires tensorflow and the tffm module. You can find more information about it here: https://github.com/geffy/tffm.

In [15]:
import tensorflow as tf
from tffm import TFFMRegressor
from sklearn.metrics import mean_squared_error

In [ ]:
# Training step by step to capture testing error

learning_rates = [0.1, 0.01, 0.001]
#epochs = [100, 500, 1000, 5000]
# epochs = [10,20,30,40]
epochs = [100]
# errors = np.zeros((len(learning_rates),len(epochs)))
errors = np.zeros((len(learning_rates), epochs[0]))
for i,lr in enumerate(learning_rates):
    for j, epoch in enumerate(epochs):
        for e in range(epoch):
            print(e)
            # Create the factorization machine model
            model = TFFMRegressor(
                optimizer=tf.train.AdamOptimizer(learning_rate=lr),
#                 n_epochs=1,
                input_type='sparse',
               
                log_dir=f"./logs/run{str(lr).replace('.','_')}_{epoch}"
            )

            # Compute the mean squared error for test set
            model.fit(X_tr, y_tr, n_epochs=1, show_progress=False)

#             predictions_tr = model.predict(X_tr)
            predictions_te = model.predict(X_te)
            errors[i,e] = mean_squared_error(y_te, predictions_te)

#             print(errors)
#             errors[i,j] = mean_squared_error(y_te, predictions_te)
#             print(f"-------Learning Rate:{lr}, Num Epochs: {epoch} ----------")
#             print(f"MSE Train Set: {mean_squared_error(y_tr, predictions_tr)}")
#             print(f"MSE Test Set: {errors[i, j]}")

param = np.unravel_index(np.argmin(errors), errors.shape)
print(f"Learning Rate of {learning_rates[param[0]]} and epochs of {epochs[param[1]]} had the lowest test error")

In [16]:
# Normal Training

learning_rates = [0.1, 0.01, 0.001]
epochs = [5000, 10000]
errors = np.zeros((len(learning_rates),len(epochs)))
for i,lr in enumerate(learning_rates):
    for j, epoch in enumerate(epochs):
        # Create the factorization machine model
        model = TFFMRegressor(
            optimizer=tf.train.AdamOptimizer(learning_rate=lr),
            n_epochs=epoch,
            input_type='sparse',
            log_dir=f"./logs/run{str(lr).replace('.','_')}_{epoch}"
        )

        # Compute the mean squared error for test set
        model.fit(X_tr, y_tr, show_progress=False)

        predictions_tr = model.predict(X_tr)
        predictions_te = model.predict(X_te)

        errors[i,j] = mean_squared_error(y_te, predictions_te)
        print(f"-------Learning Rate:{lr}, Num Epochs: {epoch} ----------")
        print(f"RMSE Train Set: {np.sqrt(mean_squared_error(y_tr, predictions_tr))}")
        print(f"RMSE Test Set: {np.sqrt(errors[i, j])}")

param = np.unravel_index(np.argmin(errors), errors.shape)
print(f"Learning Rate of {learning_rates[param[0]]} and epochs of {epochs[param[1]]} had the lowest test error")

WARNING:tensorflow:Variable += will be deprecated. Use variable.assign_add if you want assignment to the variable value or 'x = x + y' if you want a new python Tensor object.
-------Learning Rate:0.1, Num Epochs: 5000 ----------
RMSE Train Set: 539.6707977304247
RMSE Test Set: 686.4878770401845
-------Learning Rate:0.1, Num Epochs: 10000 ----------
RMSE Train Set: 76784.54174501185
RMSE Test Set: 58471.489969269525
-------Learning Rate:0.01, Num Epochs: 5000 ----------
RMSE Train Set: 499.9191518443694
RMSE Test Set: 660.3125547586766
-------Learning Rate:0.01, Num Epochs: 10000 ----------
RMSE Train Set: 772549.6030572555
RMSE Test Set: 550021.988540099
-------Learning Rate:0.001, Num Epochs: 5000 ----------
RMSE Train Set: 500.53508704466753
RMSE Test Set: 1634.6442283170156
-------Learning Rate:0.001, Num Epochs: 10000 ----------
RMSE Train Set: 323.1124090160784
RMSE Test Set: 711.9408036043592
Learning Rate of 0.01 and epochs of 5000 had the lowest test error

In [ ]:
errors

In [21]:
# # Create the factorization machine model
model = TFFMRegressor(
    optimizer=tf.train.AdamOptimizer(learning_rate=0.001),
    n_epochs=10000,
    input_type='sparse'
 #   log_dir=f"./logs/run{str(lr).replace('.','_')}_{epoch}"
)

# Compute the mean squared error for test set
model.fit(X_tr, y_tr, show_progress=True)

100%|██████████| 10000/10000 [03:58<00:00, 41.89epoch/s]

In [41]:
print(np.sqrt(mean_squared_error(model.predict(X_tr), y_tr)))
print(np.sqrt(mean_squared_error(model.predict(X_te), y_te)))

2333.0773789958594
3107.233314407601

Given a user, we want to find their top artists predicted by the model

In [ ]:
# We need to quick accesss to indices
column_map = {col:i for i,col in enumerate(list(full_df.columns.values))}

In [ ]:
def generate_feature_matrix(info, artist_names):
    # We create a matrix of feature vectors for each potential artist
    X = np.zeros((len(artist_names), len(column_map)))
    
    # Feature matrix will have the same values for the user information fields
    X[:, 0] = info["age"]
    X[:, 1] = info["signup"]
    X[:, column_map[f"country_{info['country']}"]] = 1
    X[:, column_map[f"gender_{info['gender']}"]] = 1

    # Set the proper one-hot vector for artist
    for i, name in enumerate(artist_names):
        X[i, column_map[f"artistName_{name}"]] = 1
    
    return sparse.csr_matrix(X)

In [ ]:
# info = {"country":"United States", "age":24, "gender":"m","signup":0}
# X = generate_feature_matrix(info, top_artists)

# predictions = model.predict(X)

In [ ]:
#predicted_artists = list(map(lambda artist: top_artists[artist], np.argsort(predictions)[::-1]))

In [ ]:
import pickle

In [ ]:
# Save the model
model_path = "tffm_model_test/"
model.save_state(model_path)

In [ ]:
# Save the artists
pickle_out = open("artists.pickle","wb")
pickle.dump(artists, pickle_out)
pickle_out.close()

In [ ]:
# Save the top artists
pickle_out = open("top_artists.pickle","wb")
pickle.dump(top_artists, pickle_out)
pickle_out.close()

In [ ]:
# Save the column mapping
pickle_out = open("column_map.pickle","wb")
pickle.dump(column_map, pickle_out)
pickle_out.close()

In [ ]:
# Save the countries
pickle_out = open("countries.pickle","wb")
pickle.dump(countries, pickle_out)
pickle_out.close()

In [ ]:
# #pickle.load(open("top_artists.pickle","rb"))
# model = TFFMRegressor(
#     optimizer=tf.train.AdamOptimizer(learning_rate=0.01),
#     n_epochs=1000,
#     input_type='sparse'
# )

# model.core.set_num_features(X.shape[1])
# model.load_state(model_path)
# model.predict(X)

## Accuracy
For every row (user) in the testing set, we predict the number of plays. We say that a user plays an artist if the predicted number of plays is greater than or equal to 0.  If the predicted number of plays is the same sign as the centered number of plays, we say that the prediction matches the truth.

In [42]:
score = 0
for i in range(X_te.shape[0]):
    row = X_te[i, :]
    prediction = model.predict(row)
#     print(prediction[0], y_te[i])
#     score += int(prediction[0] * y_te[i] >= 0 )
    score += int((prediction[0]>=0) ^( y_te[i] < 0) )

#     print(score)
#     if i == 20:
#         break
print(score / X_te.shape[0])

0.4142487399536848

In [43]:
score = 0
for i in range(X_tr.shape[0]):
    row = X_tr[i, :]
    prediction = model.predict(row)
#     print(prediction[0], y_te[i])
#     score += int(prediction[0] * y_te[i] >= 0 )
    score += int((prediction[0]>=0) ^( y_tr[i] < 0) )

#     print(score)
#     if i == 20:
#         break
print(score / X_tr.shape[0])

0.5617847411444141